
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.grid::after {
	content: "";
	display: block;
	clear: both;
}

[class^='col-'] {
	float: left;
}

.col-12of12{
	width:100%;
}

.col-8of12{
	width:66.6%;
}

.col-7of12{
	width:58.3%;
}

.col-6of12{
	width:50%;
}

.col-5of12{
	width:41.6%;
}

.col-4of12{
	width:33.3%;
}

.col-3of12{
	width:25%;
}

.col-2of12{
	width:17.6%;
}

.col-1of12{
	width:8.33%;
}

.col-logo{
	width:41.6%;
}

.col-nav{
	width:58.3%;
}

.col-3of12.blank{
	width:23%;
}


@media (max-width: 87em) {

	.col-logo {
		width: 80%;
	}

	.col-nav {
		width: 100%;
		padding-left: 2rem;
	}

	.col-icon{
		width: 20%;
	}


	.col-all-categories{
		width: 80%;
	}

	.col-choose-by{
  		width: 100%;
	}

	.col-product-pic{
  		width: 33%;
	}

}

@media (max-width: 78.125em) {

	.col-concept {
		width: 100%;
	}

	.col-pic-left{
		width: 60%;
	}

	.col-pic-right{
		width: 40%;
	}

	.homepage-concept{
  		margin-top:0;
	}


	.homepage-concept{
	  margin: 0rem;
	}

	.col-choose-by{
		display: none;
	}

	.hidden-section-choose-by {
	  width: 100%;
	  display: block;
	}

	.color-categories{
		margin-top: 1rem;
	}

	.choose-by-model {
		margin-left: 0;

	}

	.color-categories {
		padding-left: 0;
	}


}

@media  (max-width: 54.68em) {

	.col-all-categories{
		width: 100%;
	}

	.col-product-pic{
  		width: 50%;
	}

	.homepage-picture-left{
	padding-right: 1rem;
	}

	.homepage-picture-right-top{
	margin-bottom: 1rem;
	}

	.col-concept{

	}

	.col-map{
  		width: 100%;
	}


	.col-logo{
		width:80%;
	}

	.col-map {
		width:100%;
	}

	.col-contact-info{
		width:100%;
	}

	.col-cart-pic {
		width:50%;
	}

	.col-cart-name {
		width:50%;
	}

	.col-cart-quantity {
		width:33%;
	}

	.col-cart-price {
		width:33%;
	}

	.col-cart-delete {
		width:33%;
	}

	.col-cart-total {
		width: 100%;
	}

	#header{
  		padding: 3rem 0.3rem 7rem 0.2rem;
	}

	#body {
	  	padding: 0 0.5rem;
	}

	.logo{
		padding: 0 4rem 0 0;
	}

	.col-nav {
		width: 100%;
		padding-left: 0;
	}

/*my cart*/

	.col-cart-pic{
		width: 30%;
	}


	.col-cart-name{
		width:30%;
	}

	.col-cart-quantity{
		width:15%;
	}

	.col-cart-price{
		width:15%;
	}

	.col-cart-delete {
		width:5%;
	}



	.checkout {
		width: 80%
	}

	.col-collab {
		width:100%;
	}


	.hidden-section {
	  width: 100%;
	  display: block;
	}

	.col-concept{
		display: none;
	}



	/*hamburger menu*/

  	.topnav a {
  	display: none;
  	padding-bottom: 1rem;
 	}


  	.topnav.responsive {
  	position: relative;
  	}

  	.topnav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  	}

  	.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding-bottom: 1rem;
  	}

  	.col-nav.responsive {
  	width:100%;
  	}

	.topnav a.icon {
	float: right;
	display: block;
	width: 20%;
	}



}

@media (max-width: 36.5em) {

	#header{
  		padding: 3rem 0.3rem 4rem 0.2rem;
	}

	.col-pic-left{
		width: 100%;
	}

	.col-pic-right{
		width: 100%;
	}


	.col-product-pic{
  		width: 100%;
	}

	.homepage-picture-left{
	padding-right: 0rem;
	}




/*my cart*/

	.col-cart-pic{
		width:100%;
	}

	.cart-thumbnail {

		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;

	}

	.col-cart-name{
		width:50%;
	}

	.col-cart-quantity{
		width:20%;
	}

	.col-cart-price{
		width:20%;
	}

	.col-cart-delete {
		width:10%;
	}

	.cart-content{
		font-size: 0.9rem;
		/*padding-left: 0.5rem;*/

	}

	.cart-header{
		font-size: 0.9rem;
		/*padding-left: 0.5rem;*/

	}

	.cart-delete{
	  width: 1.3rem;
	  float: right;
	}

	/*login*/

	.col-4of12.blank{
		display: none;
	}

	.checkout {
		width: 95%
	}

}

@media (max-width: 31em) {



	.icon {
	  	padding: 0 1rem 0 0;
	}


	.homepage-picture-left {
	  padding-bottom: 1rem;
	}

	.homepage-picture-right-top {
	  margin-bottom: 1rem;
	}

	.map {
		padding-right: 0;
	}

}


