
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.grid::after {
	content: "";
	display: block;
	clear: both;
}

[class^='col-'] {
	float: left;
}

.col-12of12{
	width:100%;
}

.col-8of12{
	width:66.6%;
}

.col-7of12{
	width:58.3%;
}

.col-6of12{
	width:50%;
}

.col-5of12{
	width:41.6%;
}

.col-4of12{
	width:33.3%;
}

.col-3of12{
	width:25%;
}

.col-1of12{
	width:8.33%;
}

.col-logo{
	width:41.6%;
}

.col-nav{
	width:58.3%;
}

@media (max-width: 84.81em) {

	.col-logo {
		width: 100%;
	}

	.col-nav {
		width: 100%;
		padding-left: 2rem;
	}

	.col-all-categories{
		width: 80%;
	}

	.col-choose-by{
  		width: 100%;
	}

	.col-product-pic{
  		width: 33%;
	}

}

@media (max-width: 78.125em) {

	.col-concept {
		width: 100%;
	}

	.col-pic-left{
		width: 60%;
	}

	.col-pic-right{
		width: 40%;
	}

	.homepage-concept{
  		margin-top:0;
	}


}

@media (max-width: 54.68em) {

	.col-all-categories{
		width: 100%;
	}

	.col-product-pic{
  		width: 50%;
	}

/*}

@media (max-width: 44.375em) {*/

	.col-pic-left{
		width: 100%;
	}

	.col-pic-right{
		width: 100%;
	}

	.homepage-picture-left {
  		padding-right: 0;
  		padding-bottom: 3rem;
  
}

}

@media (max-width: 36.5em) {

	.col-product-pic{
  		width: 100%;
	}

}



