body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1rem;
  font-size: 1rem;
}


h1 {
  font-size: 2.7rem;
  margin-bottom: 0;
}

h2 {
	font-size: 2rem;
	margin-bottom: 0;
	width: 100%;
}


h3 {
	font-size: 1.5rem;
	margin-bottom: 0;
}


p  {
  max-width: 40rem;
  line-height: 1.5em;
}

a {
  color: rgb(253,106,79);
  text-decoration: none; 
  transition: color 0.3s;
}

a:active, a:hover, a:focus {
  color: rgb(112,128,144);
  text-decoration: none;
}


.button-nav{
  display: inline-block;
  color: black;
  font-size: 1rem;
  line-height: 2em;
  padding: 1rem 1.5rem;
  text-decoration: none;
}


.button-nav:active, .header-item:hover, .header-item:focus {
  color: rgb(253,106,79);
}



img {
	height: auto; 
	max-width: 50%;
}


figure {
	margin: 0;
}


.homepage-picture {
  position: absolute;
}








