body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1rem;
  font-size: 0.9rem;
  color: grey;
}


h1 {
  font-size: 2.7rem;
  margin-bottom: 0;
  color: black;
}

h2 {
	font-size: 1.6rem;
	margin-bottom: 0;
	width: 100%;
  color: black;
}


h3 {
	font-size: 1.3rem;
	margin-bottom: 0;
  color: grey;
}


p  {
  max-width: 40rem;
  line-height: 1.5em;
}

a {
  line-height: 1.5em;
  color: black;
  text-decoration: none; 
  transition: color 0.3s;
}

a:active, a:hover, a:focus {
	color: rgb(253,106,79);
  text-decoration: none;
}

img {
  height: auto; 
  max-width: 100%;
}


figure {
  margin: 0;
}

#header {
  padding: 3rem 3rem 7rem 3rem;
}

#body {
  padding: 0 6rem;
}


/* navigation meny styling*/
.topnav a {
  display: inline-block;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2em;
  padding: 0.4rem 1.3rem 0 1.3rem;
  text-decoration: none;
}


.topnav a:hover{
  color: rgb(253,106,79);
}

.topnav .personal-page{
  color: rgb(253,106,79);
}


.topnav .icon {
  display: none;
  padding: 0 3rem 0 0;
  font-size: 1.6rem;
  float: right;
}

.topnav.responsive {
  float: none;
  display: inline;
}

.button-nav.responsive {
  display: block;
  text-align: left;
  width: 100%;
}


.image-link:hover {
  opacity: 0.7;
}



/*homepage images styling*/

.homepage-picture-left {
  padding-right: 3rem;
  
}

.homepage-picture-right-top {
  float: left;
  margin-bottom: 3rem;
}

.homepage-picture-right-bottom {
  float: left;
}

/**/

.homepage-concept{
  margin: 2rem;
  margin-left: 5rem;
  margin-top: 60%;
}


.logo {
	width: 16rem;
	padding: 0 2rem 0 3rem;
}

.logo-centered {
  width: 16rem;
  display: block;
  padding: 0 2.5rem 0 2.5rem;
  margin-left:auto;
  margin-right:auto;

}


/* contact page style*/
.city {
	margin-bottom: 2rem;
	color: rgb(253,106,79);
}

/**/



/* my cart style*/

.button-submit {
  display: inline-block;
  padding: 1em 2.5em;
  color: white;
  background-color: black;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 2em;
  border:none;
  text-decoration: none;
}

.button-submit:hover, .button-submit:focus {
  background-color: rgb(253,106,79);
}


.cart-thumbnail {
  max-width: 100%;
  height: auto;
  padding-right: 4em;
}


.shopping-cart {
  margin-bottom: 2em;
  color: black;
  font-size: 2rem;
}

.cart-header{
  margin-bottom: 2.9em;
  color: rgb(253,106,79);
  font-size: 1rem;
}

.cart-content {
  color: black;
  font-size: 1rem;
  line-height: 0.2em;
}


.cart-subtotal {
  margin: 2rem 0 0rem 0rem;
  color: rgb(253,106,79);
  font-size: 1.5rem;
}

hr.line{
  margin-top: 2rem;
  border: 3px solid black; 
}

.checkout{
  margin-top: 2rem;
}

.cart-delete{
  margin-top: 4.4rem;
}

.cart-delete:hover{
  opacity: 0.7;
}

/**/


/*product page*/

.product-picture {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}


.product-caption {
  text-align: center;
  line-height: 0;
  padding: 0 0 1rem 0;
}


.thumbnail {
  max-width: 100%;
  height: auto; 
  margin: 0 2rem 1rem 0; 
}

.thumbnail:hover {
  color: rgb(253,106,79);
  opacity: 0.5;
  transition: 0.3s;
}

.thumbnail-row {
  max-width: 100%;
  height: auto; 
  margin: 3.1rem 5rem 0 4rem;
}

.product-description {
  margin: 2rem 0 3rem 0;
}


.select-colour{
  padding-top: 0.5rem;
}

.select-size{
  padding-right: 1rem;
}

.select-quantity{
  padding-left: 1rem;
}

.cart {
  margin: 2.5em 0 0 0;
}







/* choose by colour page*/
.colour-swatch {
  max-width: 85%;
  height: auto;
  display: block;
  margin: auto;
}

.color {
  width: 2rem;
  margin: 0.2rem;
}

.color:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.color-categories{
  padding-left: 5rem;
  padding-top: 0.07rem;
}


/* choose by model*/
.choose-by-model{
  margin-left: 4rem;

}

.by-model {
  display: inline-block;
  color: grey;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2em;
  padding: 0.4rem 1.3rem 0 1.3rem;
  text-decoration: none;

}

.by-model:hover, .button-submit:focus {
  color: rgb(253,106,79);
}


.map { 
  padding-right: 3rem; 
}

/*ACCORDION*/

.checkout {
  /*padding-top: 3.5rem;*/
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: white;
    color: 0;
    cursor: pointer;
    padding: 18px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    border: solid;
    outline: 2px;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1.3rem;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ececec;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*FORM*/

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;

}

.input {
  padding: 0 0.5rem;
}

.form-button {
  float: right;
  margin-bottom: 2rem;
  margin-top: 1rem;

  display: inline-block;
  padding: 1em 2.5em;
  color: white;
  background-color: black;
  font-size: 0.8rem;
  text-transform: lowercase;
  border-radius: 2em;
  border:none;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.form-button:hover, .form-button:focus {
  background-color: rgb(253,106,79);
}




/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}


/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
}

select {
  height: 2rem;
}

.product-review {
  max-width: 11rem;

}

/*account page*/

.grey-bckgr {
  background-color: #dcdcdc;
}

.login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  padding: 1em 2.5em;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  color: white;
  background-color: black;
  font-size: 0.8rem;
  text-transform: lowercase;
  border-radius: 2em;
  border:none;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.login-button:hover, .login-button:focus {
  background-color: rgb(253,106,79);
}

.login-text {
  text-align: center;
  color: grey;
}

.login-text:hover {
  color: rgb(253,106,79);
}



/*collaborations page*/

.collab {
  padding: 0.5rem;
}

.collab:hover {
  opacity: 0.5;
}

/**/



/*footer*/
hr.line-footer{
  margin: 2rem 0 2rem 0;
  border: 0.5px solid grey; 
}

.footer{
  margin: 4rem 0 2rem 0;
}

.page-list {
  word-spacing: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5rem;
}

/**/


/*style guide*/
section:not([id]) {
  margin: 2em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}


section code {
  display: inline-block;
  background-color: #EEE;
  padding: 0.5em 0.5em;
  max-width: 40rem;
  line-height: 1.8em;
}


.sg-title{
  margin: 3rem 0 3rem 0;
}

.sg-navigation{
  line-height: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sg-header{
  padding-top: 1rem;
}

.sg-subheader{
  padding: 1.5rem 0 1rem 0;
  font-size: 1rem;
}

.sg-link{
  color: rgb(253,106,79);
  text-decoration: none; 
  transition: color 0.3s;
}

.sg-link:active, a:hover, a:focus {
    color: grey;
    text-decoration: none;
}

.sg-textmargin{
  margin:0;
}



/**/














