body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1rem;
  font-size: 1rem;
}


h1 {
  font-size: 2.7rem;
  margin-bottom: 0;
}

h2 {
	font-size: 2rem;
	margin-bottom: 0;
	width: 100%;
}


h3 {
	font-size: 1.3rem;
	margin-bottom: 0;
}


p  {
  max-width: 40rem;
  line-height: 1.5em;
}

a {
  color: rgb(112,128,144);
  text-decoration: none; 
  transition: color 0.3s;
}

a:active, a:hover, a:focus {
	color: rgb(253,106,79);
  	text-decoration: none;
}


.button-nav{
  display: inline-block;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2em;
  padding: 0.8rem 1.3rem 0 1.3rem;
  text-decoration: none;
}


.button-nav:active, .header-item:hover, .header-item:focus {
  color: rgb(253,106,79);
}



img {
	height: auto; 
	max-width: 100%;
}


figure {
	margin: 0;
}

/*homepage images styling*/

.homepage-picture-left {
  padding-right: 10%;
  
}

.homepage-picture-right-top {
  float: left;
  margin-bottom: 15%;
}

.homepage-picture-right-bottom {
  float: left;
}

/**/

.logo {
	width: 50%;
	padding: 0 2rem 0 3rem;
}

#header {
  padding: 3rem 0 7rem 0;
}

#body {
  padding: 0 2.7rem;
}

/* contact page style*/
.city {
	margin-bottom: 2rem;
	color: rgb(253,106,79);
}

<<<<<<< Updated upstream
=======
.get-in-touch {
	margin-top: 5rem;
}
/**/

/* my cart style*/
.button-submit {
  display: inline-block;
  padding: 1em 2.5em;
  color: white;
  background-color: rgb(112,128,144);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 2em;
  border:none;
  text-decoration: none;
}

.button-submit:hover, .button-submit:focus {
  background-color: rgb(253,106,79);
}
/**/

>>>>>>> Stashed changes
.product-picture {
  display: block;
  margin: auto;
}

.product-caption {
  text-align: center;
}










